body {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a71313 !important;
  color: white !important;
}

ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  margin: 0%;
  background: #e0cecefc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#lancamento {
  margin-top: 2vw;
  align-items: center;
  text-align: center !important;
}

#video {
  width: 40vw;
  height: 32vw;
}

h1 {
  margin-left: 5vw;
  text-align: left;
}

a {
  text-decoration: none;
  color: black !important;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

.lancamento {
  background-color: #e0cecefc;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin: 50px;
}

.carousel-item.active.lancamento {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr 1fr) !important;
  padding: 20px;
  margin: 0 auto;
  color: black !important;
}

.carousel-item.active.lancamento>div.carrousel-description.lancamento {

  grid-column: 2 / span 4;
}
.destaque-topo{
  display: grid;
  grid-template-columns: repeat(2, 1fr 1fr) !important;
}
.destaque-topo>#select-destaque{
  grid-column: 4;
  margin-right: 25%;
}
.carousel-item.active {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1fr) !important;
  padding-left: 10%;
  padding-right: -80%;
  padding-bottom: 5%;
}


.destaque-imagens2, .destaque-imagens3, .destaque-imagens4 {
  display: none;
}

.destaque-item1, .destaque-item3, .destaque-item2, .destaque-item4 {
  width: 18vw;
  height:26vw;
  margin-left: 1%;
}

.destaque-item.custom-select-sm {
  padding-left: 11px;
  padding-right: 1px;
}

.carousel-item.desativado {
  display: none;
}
.avaliacao.item{  
  color: black;
  display: grid;
  grid-template-columns: 3 !important;
  padding-right: 10%;
  padding-left: 5%;
}
.avaliacao.item1{
  background-color: #e0cecefc;
  border-radius: 5px;
  grid-column: 1;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  margin: 6%;
}
.avaliacao.item2{
  background-color: #e0cecefc;
  border-radius: 5px;
  grid-column: 2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  margin: 6%;
}
.avaliacao.item3{
  background-color: #e0cecefc;
  border-radius: 5px;
  grid-column: 3;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  margin: 6%;
}


@media screen and (max-width: 500px) {
  .lancamento {
    margin: 0px !important;
  }
  .carousel-item.active.lancamento {
    padding: 0% !important;
    height: 78vw;
  }
  menu {
    display: none;
  }

  .carousel-item.active {
    margin-left: 0px !important;
    padding-left: 40px !important;
  }
  #video {
    width: 100vw !important;
    height: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    top: 0px;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .lancamento {
    background-color: #a71313;
  }
  .header nav {
    display: absolute;
    width: 100%;
    height: 100%;
  }
  .menu {
    display: none;
  }
  form {
    padding-right: 100%;
  }
  .carousel-item.active.lancamento {
    display: flex !important;
  }
  .carrousel-description.lancamento {
    display: none;
  }

  #video {
    width: 100vw !important;
    height: 60vw;
  }
  .destaque-item.custom-select-sm {
    padding-left: 0px;
    padding-right: 0px;
  }
  .avaliacao.item{  
    color: black;
    display: grid;
    grid-template-rows: 3 !important;
    padding-right: 10%;
    padding-left: 5%;
  }
  .avaliacao.item1{
    grid-row: 1;
    grid-column: 1/ spam 3;
  }
  .avaliacao.item1>h2{
    font-size: 6vw;
  }
  
  .avaliacao.item2{
    grid-row: 2;
    grid-column: 1/ spam 3;
  }
  .avaliacao.item2>h2{
    font-size: 6vw;
  }
  .avaliacao.item3{
    grid-row: 3;
    grid-column: 1/ spam 3;
  }
  .avaliacao.item3>h2{
    font-size: 6vw;
  }

}